<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/cshome/dbsigurd/302-project/Webapps/main/static/css/panel1.css"/>
		<!-- Latest compiled and minified CSS -->
	
	</head>
	<body>
		<div id ="logout">
			 
				Dr. xxxx 
				<button type="button"><a href="file:///cshome/dbsigurd/302project/Login.html">Log out</a></button>	
		</div>
		<div id = "patientInfo">
			<table id="pTable" class="table table-striped" >
				<thead>
					<tr >
						<th style="padding:0 15px 0 15px;">Patients Name:</th>
						<th style="padding:0 15px 0 15px;">DOB:</th>
						<th style="padding:0 15px 0 15px;">SEX:</th>
						<th style="padding:0 15px 0 15px;">Patients ID:</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td style="padding:0 15px 0 15px;">John Smith </td>
						<td style="padding:0 15px 0 15px;">Jan 30, 1960 </td>
						<td style="padding:0 15px 0 15px;">Male </td>
						<td style="padding:0 15px 0 15px;">000000123224 </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class=boxed>
			<div id ="panel">
			<ul>
				<li><a href="#home">Patient Status</a></li>
				<li><a href="#news">ECG</a></li>
				<li><a href="#contact">Blood Pressure</a></li>
				<li><a href="#about">X-Ray</a></li>
				<li><a href="#search">Patient Search</a></li>
			</ul>
			</div>
			<div class="ecgbox">
				<div class = "ecg">
				
					<canvas id="demo" width=800px height=280px></canvas>
					
				</div>
				<div class="heartRate">
						<p id="hr" value="60">0
						</p>
						<h3 >BMP</h3>
				</div>
				<div class="clear">
			</div>
		</div>
		
	</body>
	<!-- script taken from http://jsfiddle.net/AbdiasSoftware/tFn66/ -->
	<script type="text/javascript" src="/cshome/dbsigurd/302-project/Webapps/main/static/js/panelScript.js"></script>
</html>